<main class="container-fluid mx-auto">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/images/TheHashiras.jpg" alt="Kimetsu no Yaiba(Demon Slayer)">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/images/slime.jpg" alt="That Time I got Reincarnated as a Slime">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/images/AJR.jpg" alt="A Jobless Reincarnation">
            </div>
        </div>
    </div>
    <!-- <h1 class="display-1 text-center" id="welcome" [class]="blue">Welcome!</h1> -->
    <h1 class="display-1 text-center" id="welcome">Hashira's Lists!</h1>
    <div class="Seasons">
        <h4 class="d-flex justify-content-center">Currently Airing</h4>
        <table class="currentSeason d-flex justify-content-center">
            <tr>
                <th scope="col">AnimeId</th>
                <th scope="col">Title</th>
                <th scope="col">Genre1</th>
                <th scope="col">Genre2</th>
                <th scope="col">Genre3</th>
            </tr>
            <!-- <tbody>CurrentSeason</tbody> -->
        </table>
    </div>
</main>
<script src="../../../assets/scripts/home.js"></script>