<main class="container-fluid mx-auto " style="padding: 0 7.5em;">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="width: 30em; margin: auto">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/images/TheHashiras.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/images/TTIGRAAS.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/images/AJR.jpg" alt="Second slide">
            </div>
        </div>
    </div>
    <!-- <h1 class="display-1 text-center" id="welcome" [class]="blue">Welcome!</h1> -->
    <h1 class="display-1 text-center" id="welcome">Welcome!</h1>
</main>