.Anime {
    background-color: #1B1412;
    color: #DCC237;
    border-radius: 4px;
    padding: .5em;
    margin-left: 1em;    
}

.Anime:hover {
    background-color: rgb(11, 88, 160);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: .5em;
    margin-left: 1em;
    cursor: pointer;
}

select {
    /* border: 2px solid #888888; */
    border-radius: 6px;
    margin-right: .1em;
}

select, button {
    border-radius: 6px;
    margin-top: 1em;
}