<div id="body">
    <main class="container mx-auto " style="padding: 0 7.5em;">
        <div>
            <div>
                <div>
                    <h1>Login</h1>
                </div>
                <div>
                    <div>
                        <form id="login-form ">
                            <div class="form-group mb-3">
                                <label for="exampleInputEmail1">Username</label>
                                <input type="text" class="form-control" name="username" id="username"
                                    aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="usernameInput"
                                    required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password" [(ngModel)]="passwordInput" required>
                            </div>

                            <button type="button" class="btn btn-primary" id="submitButton"
                                (click)="login()">Submit</button>

                            <div class="alert alert-danger d-flex align-items-center mt-2 {{ errorBox }}" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                    aria-label="Danger:">
                                    <use xlink:href="#exclamation-triangle-fill" />
                                </svg>
                                <div>
                                    {{ errorMessage }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>