<nav class="navbar sticky-top navbar-expand-lg">
    <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.jpg"
            style="height: 3em; padding: .5em;"></a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-left">
        <li class="nav-item">
            <a class="nav-link" *ngIf="loggedInUser" routerLink="lists" style="color: var(--text-color);">Your Lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="loggedInUser" routerLink="favorites"
                style="color: var(--text-color);">Favorites</a>
        </li>
    </ul>
    <ul class="navbar-nav navbar-right" id="nav-right">
        <li class="nav-item">
            <button (click)="toggleDarkTheme()">Light/Dark</button>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="login" *ngIf="!loggedInUser" style="color: var(--text-color);">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="register" *ngIf="!loggedInUser"
                style="color: var(--text-color);">Register</a>
        </li>
        <li *ngIf="loggedInUser" class="nav-item">
            <a class="nav-link">{{loggedInUser.username}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="loggedInUser" routerLink="profile" style="color: var(--text-color);">Your
                Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link clickable" *ngIf="loggedInUser" style="color: var(--text-color);" href="#"
                (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>