/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --text-color: #222;
    --bkg-color: #fff;
    --btn-text-color: white;
    --btn-bg-color: rgb(11, 88, 160);
    background-color: var(--bkg-color);
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #252222;
    --btn-text-color: rgb(46, 43, 43);
    --btn-bg-color: rgb(20, 211, 195);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--text-color);
}

nav {
    border-bottom: 2px solid #000000;
}

footer {
    border-top: 2px solid #000000;
}

main {
    /* background-color: #ffffff; */
    margin: auto;
    /* padding: 20px; */
    /* border-radius: 10px; */
}

.carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

button {
    color: #000000;
    border: none;
    border-radius: 6px;
    padding: 10px;
}

/* button:hover {
    color: rgb(11, 88, 160);
} */

/* button:active {
    border: 2px solid #888888;
} */

input {
    border: 2px solid #888888;
    border-radius: 6px;
    padding: 4px;
}

select {
    border: 2px solid #888888;
    border-radius: 6px;
    padding: 4px;
}

th {
    color: #000000;
}