/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--bkg-color);
}

@media (prefers-color-scheme: light) {
    body.light-theme {
        --text-color: #222222;
        --bkg-color: #ffffff;
        --btn-text-color: white;
        --btn-bg-color: rgb(11, 88, 160);
    }
}

@media (prefers-color-scheme: no-preference) {
    body.dark-theme {
        --text-color: #eeeeee;
        --bkg-color: #222523;
        --btn-text-color: rgb(46, 43, 43);
        --btn-bg-color: rgb(20, 211, 195);
    }
}

@media (prefers-color-scheme: dark) {
    body.dark-theme {
        --text-color: #eeeeee;
        --bkg-color: #252222;
        --btn-text-color: rgb(46, 43, 43);
        --btn-bg-color: rgb(20, 211, 195);
    }
}

.card-body {
    background: var(--bkg-color);
    color: var(--text-color);
}

#body {
    background-color: var(--bkg-color);
    color: var(--text-color);
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, th, td {
    color: var(--text-color);
}

nav {
    /* background: #7b5683; */
    background: #A17CED;
    color: #eeeeee;
    border-bottom: 2px solid #555555;
}

footer {
    background: #252222;
    color: #eeeeee;
    border-top: 2px solid #555555;
    padding-bottom: 1em;
}

main {
    background-color: var(--bkg-color);
}

.carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

button {
    /* background-color: #7b5683; */
    background-color: #A17CED;
    color: #eee;
    border: none;
    padding: 10px;
}

/* button:hover {
    color: rgb(11, 88, 160);
} */

/* button:active {
    border: 2px solid #888888;
} */

input {
    border: 2px solid #888888;
    border-radius: 6px;
    padding: 4px;
}

select {
    border: 2px solid #888888;
    border-radius: 6px;
    padding: 4px;
}

thead {
    background-color: #1B1412;
    color: #DCC237;
    border-radius: 4px;
    padding: .5em;
    margin-left: 1em;    
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    padding: 1em;
    margin: .7em;
}

td {
    padding: .5em;
    text-align: center;
}