<main class="container-fluid mx-auto">
    <div class="row">
        <div class="input-group mt-5">
            <div class="form-outline me-2">
                <label class="form-label" for="form1"><strong>Anime Search</strong></label>
                <input id="search-input" type="search" id="form1" class="form-control" [(ngModel)]="searchinput" />
            </div>

            <button id="search-button" type="button" class="btn btn-primary rounded" (click)="searchanime()">
                Go<i class="fas fa-search"></i>
            </button>

            <div class="alert alert-danger ms-5 {{errorBox}}" role="alert">
                {{errorMessage}}
            </div>
        </div>
    </div>


    <div class=" mt-5 mx-auto">
        <!--Grid column-->
        <!--Card-->
        <div class="col-lg-4 col-md-6 mb-4 mx-auto">
            <div class="card {{searchBox}}" *ngIf="animeInfo">
                <div class="bg-image hover-overlay ripple ripple-surface-light" data-mdb-ripple-color="light" style="">
                    <img src="{{animeInfo.images.webp.large_image_url }}" class="img-fluid w-100 rounded"
                        alt="{{animeInfo.title_english}}">
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                    </a>
                </div>
                <div class="card-body rounded">
                    <h5 class="card-title">{{animeInfo.title}}</h5>
                    <ul class="list-group small card-text">
                        <li class="list-group-item">Type: {{animeInfo.type}}</li>
                        <li class="list-group-item">Episodes: {{animeInfo.episodes}}</li>
                        <li class="list-group-item">Status: {{animeInfo.status}}</li>
                        <li class="list-group-item">Aired: {{animeInfo.aired.string}}</li>
                        <li class="list-group-item">Premiered: {{animeInfo.season | titlecase
                            }}&nbsp;{{animeInfo.year}}
                        </li>
                        <li class="list-group-item">Broadcast: {{animeInfo.broadcast.string}} </li>
                        <li class="list-group-item">Source: {{animeInfo.Source}}</li>
                        <li class="list-group-item">Genres: <span
                                *ngFor='let gen of animeInfo.genres'>{{gen.name}}&nbsp;</span>
                        </li>
                        <li class="list-group-item">Themes: <span
                                *ngFor='let theme of animeInfo.themes'>{{theme.name}}&nbsp;</span>
                        </li>
                        <li class="list-group-item">Duration: {{animeInfo.duration}}</li>
                        <li class="list-group-item">Rating: {{animeInfo.rating}}</li>
                    </ul>
                    <button type="button" class="btn btn-primary mt-2" (click)="addanime()">Add to your
                        favorites</button>
                    <div class="alert alert-success mt-2 {{addSuccess}}" role="alert">
                        Added to your favorites!
                    </div>
                    <div class="alert alert-danger mt-2 {{addError}}" role="alert">
                        Unable to add to your favorites!
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>